{% extends 'base.html' %}
{% load static %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white py-3">
                    <h2 class="text-center mb-0">
                        <i class="fas fa-check-circle me-2"></i>Senha Alterada com Sucesso
                    </h2>
                </div>
                <div class="card-body p-4">
                    <p class="lead text-center">Sua senha foi alterada com sucesso. Agora você pode <a href="{% url 'accounts:login' %}">fazer login</a> com a nova senha.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
