{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="{% static 'inscricoes/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body class="dashboard">
    <header class="painel-administrativo">
        <h1 class="title-dashboard">Painel Administrativo</h1>
    </header>
    <main class="grafico-container">
        <article class="grafico-box" id="grafico-barras">
            <h3 class="grafico-titulo">Total de Inscrições por Curso</h3>
            <canvas id="barChart"></canvas>
        </article>
        <article class="grafico-box" id="grafico-pizza">
            <h3 class="grafico-titulo">Distribuição Percentual de Inscrições por Curso</h3>
            <canvas id="pieChart"></canvas>
        </article>
        <article class="grafico-box" id="grafico-linha">
            <h3 class="grafico-titulo">Inscrições ao Longo do Tempo</h3>
            <canvas id="lineChart"></canvas>
        </article>
    </main>
    <script src="{% static 'inscricoes/js/dashboard.js' %}"></script>
</body>
</html>

